<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Font-Awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- materialize CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <!-- CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <title>task manager</title>
  </head>
  <body>
    <header>
      <!-- Top NavBar -->
      <nav class="blue-grey lighten-1">
        <div class="nav-wrapper">
          <a href="{{ url_for('home') }}" class="brand-logo">Task Manager</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"
            ><i class="fas fa-bars"></i
          ></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="">New Task</a></li>
            <li><a href="">Categories</a></li>
          </ul>
        </div>
      </nav>
      <!-- Mobile Side NavBar  -->
      <ul class="sidenav" id="mobile-demo">
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="">New Task</a></li>
        <li><a href="">Categories</a></li>
      </ul>
    </header>

    <main class="container">{% block content %} {% endblock %}</main>

    <footer class="page-footer blue-grey">
      <div class="footer-copyright">
        <div class="container">
          For educational purposes only
          <a
            class="grey-text right"
            href="https://codeinstitute.com"
            target="_blank"
            >&copy; Code Institute</a
          >
        </div>
      </div>
    </footer>

    <!-- materialize JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- JS -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
